services:
  ui:
    build: ./ui/
    ports:
      - "9000:9000"
    volumes:
      - ./ui/scheduler_ui:/app
      - node_modules:/app/node_modules

  api:
    build: ./api/
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - rabbitmq
    volumes:
      - ./api:/app
    environment:
      PG_USER: scheduler_user
      PG_PASS: scheduler_pass
      PG_HOST: db
      PG_PORT: 5432
      PG_DB: scheduler_db
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672//
      CELERY_RESULT_BACKEND: redis://redis:6379/0

  worker:
    build: ./api
    command: celery -A scheduler_api worker --loglevel=info
    volumes:
      - ./api:/app
    depends_on:
      - db
      - redis
      - rabbitmq
    environment:
      PG_USER: scheduler_user
      PG_PASS: scheduler_pass
      PG_HOST: db
      PG_PORT: 5432
      PG_DB: scheduler_db
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672//
      CELERY_RESULT_BACKEND: redis://redis:6379/0

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672" # AMQP
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: scheduler_db
      POSTGRES_USER: scheduler_user
      POSTGRES_PASSWORD: scheduler_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

# Add the PG data volume
volumes:
  pgdata:
  node_modules:
